<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center" id="top-bar">
			<img src="/assets/images/Shopping-Cart-4.png" alt="cart" class="animated lightSpeedIn" />
			<h1> ShoppingList! </h1>
		</div>
		<div class="col-xs-6 text-center" class="task">
			<div class="row">
			  {{#each shoppingListTable}}
			  	{{#unless this.gotIt}}
				<div class="col-xs-9 text-center">
					<pre>{{this.id}}. {{this.item_name}}
					</pre>

				</div>
				<div class="col-xs-3 text-center">
					<form method="POST" action="/listPage/update?_method=PUT" class="button-size">
						<input type="hidden" class="animated fadeIn" name="id" value={{this.id}}>
						<br>
						<button type="submit" class="btn btn-default">Got it!</button>
					</form>
				</div>
				{{/unless}}
			  {{/each}}
			</div>
		</div>
		<div class="col-xs-6 text-center" class="task">
			  {{#each shoppingListTable}}
			  	{{#if this.gotIt}}
			  		<input class="form-control animated wobble" type="text" placeholder="{{this.id}} . {{this.item_name}}" readonly>
				{{/if}}
			  {{/each}}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center enter_section">
			<form action="/listPage/create" method="POST">
				<input type="text" class="form-control animated fadeIn" name="item_name" value="" id="enter_text">
				<button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
			</form>
			<p>Enter an item you want to purchase and Click the "Submit" button.</p>
		</div>
	</div>
</div>
