 <div class="container">
	<div class="row">
		<div class="col-xs-12 text-center" id="top-bar">
			<h1>Create your list now!</h1>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center enter_section">
					<form action="/hash/create" method="POST">
						<input type="text" class="form-control" name="item_name" value="" id="enter_text">
						<button type="submit" class="btn btn-primary" id="text-enter-button">Add</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col-xs-6 text-center" class="task">
			<div class="row">
			  {{#each shoppingListTable}}
			  	{{#unless this.gotIt}}
				<div class="col-xs-9 text-center">
					<pre>{{this.id}}. {{this.item_name}}
					</pre>
				  		<!-- {{this.Date}} -->
				</div>
				<div class="col-xs-3 text-center">
					<form method="POST" action="/:hash/update?_method=PUT" class="button-size">
						<input input type="hidden" type="animated fadeIn" name="id" value={{this.id}}>
            <br>
						<button type="submit" class="btn btn-default">Got it!</button>
					</form>

				</div>
				{{/unless}}
			  {{/each}}
			</div>
		</div>
		<div class="col-xs-6 text-center" class="task">
			  {{#each shoppingListTable}}
			  	{{#if this.gotIt}}
			  		<input class="form-control animated wobble" type="text" placeholder="{{this.id}} . {{this.name_name}}" readonly>
				{{/if}}
			  {{/each}}
		</div>
	</div>
</div>
<br>
<footer class="footer">
	<nav class="navbar navbar-inverse">
		<p class="text-center"><a href="https://github.com/JulieBurk" target="_blank">Julie's Github</a> | <a href="https://github.com/davidrivera1989" target="_blank">David's Github</a></p>
	</nav>
</footer>