<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid" id="navfluid">
      <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Welcome</a>
       </div>
       <div class="collapse navbar-collapse" id="navigationbar">
            <ul class="nav navbar-nav">
               <li class="active"><a href="#"></a></li>
               <li><a href="https://github.com/JulieBurk/ShoppingList">Github</a></li>
               <li><a href="https://www.linkedin.com">Linkedin</a></li>
            </ul>
       </div><!-- /.navbar-collapse -->
   </div><!-- /.container-fluid -->
</nav>
<div class="jumbotron">
  <h1 class="animated bounce">Listy</h1>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 text-center" id="top-bar">
			<h1 class="animated fadeUpBig" id="create">Create your list now!</h1>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 text-center enter_section">
					<form action="/hash/create" method="POST">
						<input type="text" class="form-control" name="item_name" value="" id="enter_text">
						<button type="submit" class="btn btn-primary" id="text-enter-button">Enter</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col-xs-6 text-center" class="task">
			<div class="row">
			  {{#each shoppingListTable}}
			  	{{#unless this.gotIt}}
				<div class="col-xs-9 text-center">
					<pre>{{this.id}}. {{this.item_name}}
					</pre>
				  		<!-- {{this.Date}} -->
				</div>
				<div class="col-xs-3 text-center">
					<form method="POST" action="/update?_method=PUT" class="button-size">
						<input input type="hidden" type="animated fadeIn" name="id" value={{this.id}}>
            <br>
						<button type="submit" class="btn btn-default">Got it!</button>
					</form>

				</div>
				{{/unless}}
			  {{/each}}
			</div>
		</div>
		<div class="col-xs-6 text-center" class="task">
			  {{#each shoppingListTable}}
			  	{{#if this.gotIt}}
			  		<input class="form-control animated wobble" type="text" placeholder="{{this.id}} . {{this.item_name}}" readonly>
				{{/if}}
			  {{/each}}
		</div>
	</div>
</div>
</div>
<p class="something"></p>
<div class="banner">

    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <h2>Follow us</h2>
            </div>
            <div class="col-lg-6">
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Instagram</span></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
                <p class="BottomPage">Copyright &copy; Listy App 2017. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>
